@model IEnumerable<Emart.Models.Category>

@{
    ViewBag.Title = "Category";
}

<table cellpadding="5">
    <tr>

        @foreach (var item in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="javascript:CategoryName();">@item.CategoryName</a>
                </div>
                
            </div>
        }
    </tr>
    
</table>
<script>
        var CategoryName = function () {
            $.ajax({
                type: "POST",
                url: "/Shop/ViewProduct",
                success: function (response) {
                    $("#show").html(response);
                }
            })
        }
</script>


